@tailwind base;
@tailwind components;
@tailwind utilities;
/* line 1, app/assets/stylesheets/cta.css.scss */
.ctawrapper {
  padding: 2em 1em;
  background-color: white;
  background-image: linear-gradient(#f1f2f4 60%, #3e6670 60%);
  display: flex;
  justify-content: center;
}

/* line 9, app/assets/stylesheets/cta.css.scss */
.cta {
  width: 50em;
  max-width: 100%;
  padding: 2em 5em;
  border-radius: 1.25em;
  background-color: white;
  text-align: center;
}

/* line 18, app/assets/stylesheets/cta.css.scss */
.heading {
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

@media (min-width: 64em) {
  /* line 26, app/assets/stylesheets/cta.css.scss */
  .heading {
    font-size: 2.25em;
  }
}

/* line 31, app/assets/stylesheets/cta.css.scss */
.button {
  padding: 0.25em 2em;
  border: none;
  border-radius: 3.125em;
  background-color: #2F2E41;
  box-shadow: 0 0.3125em 0.625em -0.3125em #5b6771;
  color: #ebfbff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  transition: 0.2s;
}

/* line 44, app/assets/stylesheets/cta.css.scss */
.button:hover {
  cursor: pointer;
  box-shadow: 0 0.5em 1.5em -0.5em #5b6771;
}

@media (min-width: 64em) {
  /* line 50, app/assets/stylesheets/cta.css.scss */
  .button {
    padding: 1em 3em;
  }
}
/* line 1, app/assets/stylesheets/footer.css.scss */
.wrapper {
  padding: 2em;
  background-color: #2F2E41;
  color: white;
}

@media (min-width: 64em) {
  /* line 8, app/assets/stylesheets/footer.css.scss */
  .wrapper {
    padding: 2em 10em;
  }
}

/* line 13, app/assets/stylesheets/footer.css.scss */
.inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em) {
  /* line 19, app/assets/stylesheets/footer.css.scss */
  .inner {
    flex-direction: row;
  }
}

/* line 24, app/assets/stylesheets/footer.css.scss */
.newsletter {
  max-width: 45em;
  padding: 2em 0;
  margin: 0 auto;
}

@media (min-width: 64em) {
  /* line 31, app/assets/stylesheets/footer.css.scss */
  .newsletter {
    order: 1;
    padding: 0;
  }
}

/* line 37, app/assets/stylesheets/footer.css.scss */
.newsletterHeading {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

/* line 44, app/assets/stylesheets/footer.css.scss */
.newsletterBody {
  margin-bottom: 1em;
}

/* line 48, app/assets/stylesheets/footer.css.scss */
.form {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  box-sizing: border-box;
}

@media (min-width: 64em) {
  /* line 58, app/assets/stylesheets/footer.css.scss */
  .form {
    flex-flow: nowrap;
  }
}

/* line 63, app/assets/stylesheets/footer.css.scss */
.formEmail {
  flex: 1;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border: none;
  color: #000000;
  border-radius: 3.125em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

/* line 74, app/assets/stylesheets/footer.css.scss */
.formEmail::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

@media (min-width: 64em) {
  /* line 80, app/assets/stylesheets/footer.css.scss */
  .formEmail {
    margin: 0 1em 0 0;
    font-size: 1em;
  }
}

/* line 86, app/assets/stylesheets/footer.css.scss */
.formButton {
  flex: 1;
  padding: 0.25em 2em;
  border: none;
  border-radius: 3.125em;
  background-color: #3E666F;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  transition: 0.2s;
}

/* line 99, app/assets/stylesheets/footer.css.scss */
.formButton:hover {
  cursor: pointer;
}

@media (min-width: 64em) {
  /* line 104, app/assets/stylesheets/footer.css.scss */
  .formButton {
    flex: 1;
    padding: 0.5em 2em;
  }
}

/* line 111, app/assets/stylesheets/footer.css.scss */
.logo {
  margin-bottom: 2em;
}

@media (min-width: 64em) {
  /* line 116, app/assets/stylesheets/footer.css.scss */
  .logo {
    margin-bottom: 2.5em;
  }
}

/* line 121, app/assets/stylesheets/footer.css.scss */
.about {
  padding: 0;
}

@media (min-width: 64em) {
  /* line 126, app/assets/stylesheets/footer.css.scss */
  .about {
    order: 0;
    padding-right: 1em;
  }
}

/* line 132, app/assets/stylesheets/footer.css.scss */
.aboutBody {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.625;
  padding: 0.5em 0.25em;
}

@media (min-width: 64em) {
  /* line 140, app/assets/stylesheets/footer.css.scss */
  .aboutBody {
    font-size: 1.25em;
    line-height: 1.75;
  }
}

/* line 146, app/assets/stylesheets/footer.css.scss */
.info {
  padding: 0;
  list-style: none;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.625;
}

@media (min-width: 64em) {
  /* line 155, app/assets/stylesheets/footer.css.scss */
  .info {
    font-size: 1.25em;
    line-height: 1.75;
  }
}

/* line 161, app/assets/stylesheets/footer.css.scss */
.infoItem {
  padding: 0.5em 0.25em;
  display: flex;
}

@media (min-width: 64em) {
  /* line 167, app/assets/stylesheets/footer.css.scss */
  .infoItem {
    max-width: 25em;
  }
}

/* line 172, app/assets/stylesheets/footer.css.scss */
.infoItemLogo {
  margin-right: 0.625em;
  margin-bottom: -0.25em;
}

/* line 177, app/assets/stylesheets/footer.css.scss */
.emailLink {
  color: white;
  text-decoration: none;
}

/* line 183, app/assets/stylesheets/footer.css.scss */
.emailLink:hover {
  cursor: pointer;
  color: #000;
}

/* line 188, app/assets/stylesheets/footer.css.scss */
.links {
  margin: 4em 0;
  padding: 0;
  list-style: none;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.625;
}

@media (min-width: 64em) {
  /* line 198, app/assets/stylesheets/footer.css.scss */
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    line-height: 1.75;
  }
}

/* line 207, app/assets/stylesheets/footer.css.scss */
.linkItem {
  padding: 0.5em 0.25em;
}

/* line 211, app/assets/stylesheets/footer.css.scss */
.linkItem:not(:first-child):not(:last-child) {
  margin: 0.5em 0;
}

/* line 215, app/assets/stylesheets/footer.css.scss */
.link {
  color: white !important;
  text-decoration: none;
  border-bottom: 0.125em solid white;
}

/* line 221, app/assets/stylesheets/footer.css.scss */
.link:hover {
  cursor: pointer;
  color: #FFF !important;
  border-bottom: 0.125em solid #FFF;
}

@media (min-width: 64em) {
  /* line 228, app/assets/stylesheets/footer.css.scss */
  .link {
    margin: 0 0.625em;
  }
}

/* line 233, app/assets/stylesheets/footer.css.scss */
.copyright {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 0.5em;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

html, body {
  height: 100%;
  width: 100%;
}

html {
  display: table;
  margin: 0 auto;
}
