/* line 1, app/assets/stylesheets/cta.css.scss */
.ctawrapper {
  padding: 2em 1em;
  background-color: white;
  background-image: linear-gradient(#f1f2f4 60%, #00252e 60%);
  display: flex;
  justify-content: center;
}

/* line 9, app/assets/stylesheets/cta.css.scss */
.cta {
  width: 50em;
  max-width: 100%;
  padding: 2em 5em;
  border-radius: 1.25em;
  background-color: white;
  text-align: center;
}

/* line 18, app/assets/stylesheets/cta.css.scss */
.heading {
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

@media (min-width: 64em) {
  /* line 26, app/assets/stylesheets/cta.css.scss */
  .heading {
    font-size: 2.25em;
  }
}

/* line 31, app/assets/stylesheets/cta.css.scss */
.button {
  padding: 0.25em 2em;
  border: none;
  border-radius: 3.125em;
  background-color: #AA2624;
  box-shadow: 0 0.3125em 0.625em -0.3125em #5b6771;
  color: #ebfbff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  transition: 0.2s;
}

/* line 44, app/assets/stylesheets/cta.css.scss */
.button:hover {
  cursor: pointer;
  color: #ebfbff;
  box-shadow: 0 0.5em 1.5em -0.5em #5b6771;
}

@media (min-width: 64em) {
  /* line 51, app/assets/stylesheets/cta.css.scss */
  .button {
    padding: 1em 3em;
  }
}
