@import "bootstrap-sprockets";
@import "bootstrap";
@gray-light: #777;

/* mixins, variables, etc. */

@gray-medium-light: #D3D3D3;

@mixin box_sizing {
    -moz-box-sizing:      border-box;
    -webkit-box-sizing:   border-box;
    box-sizing:           border-box;
}

/* universal */
section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}


/* typography */

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

/* header */


#navbar li > a:hover {
  border-bottom: solid 3px white;

}

#land {
  color: white;
}

#Contact {
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

#Tasks {
    padding-bottom: 150px;
}
/* Main Content */
.jumbotron { background-color: #FFFFFF!important; }
.well {
    margin: 0px 10px 0px 10px;
    height: 275px;
    //background-color: #FFFFFF!important;
    //border-color: #FFFFFF!important;
}

.well-sm {
  background-color: #F5F5F5;
}

#sizing-addon {
    height: 10px;
}

#Tasks > div > div > nav {
    position: absolute;
}
/* footer */

.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #2F2E41!important;
    line-height: 55px;
}



body > footer > div > p {
    color: white;
}

.list-inline a:hover {
  color: #FFF;
  border: none;
}



/* miscellaneous */

.debug_dump {
     clear: both;
     float: left;
     width: 100%;
     margin-top: 45px;
     -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
     box-sizing:         border-box;
}

/* sidebar */

#Tasks > div > div > nav > div > ul > li.nav-link > a {
    color: #FFF;
}

#Tasks > div > div > nav > div > ul > li.nav-link > a:hover {
    color: white;
}

#wrapper {
    padding-left: 50px;
    transition: all .4s ease 0s;
    height: 100%;
    width: 100%;
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 50px;
    width: 200px;
    background: #343A40;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 200px;
    width: 100%;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: #343A40;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #FFFF;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  bottom: 0px;
  position: fixed;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
   padding-left: 80px;
}

#main_icon:hover {
    color: white;
}

.sub_icon
{
   float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  /* start of large tablet styles */
  #wrapper.active {
  padding-left: 40px;
  width: 1004px;
  }
  #wrapper.active #sidebar-wrapper {
  left: 50px;
  }
  .table {
  font-size: 10px;
  }
  .center {
  font-size: 10px;
  }
}

@media screen and (max-width: 768px) {

  /* start of medium tablet styles */
  #wrapper.active {
  padding-left: 40px;
  width: 748px;
  }
  #wrapper.active #sidebar-wrapper {
  left: 50px;
  }
  .table {
  font-size: 10px;
  }
  .center {
  font-size: 10px;
  }
}

@media (max-width:479px) {
  /* start of phone styles */

  #wrapper.active {
    padding-left: 40px;
    width: 375px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 50px;
  }
  .table {
    font-size: 8px;
  }
  .center {
    font-size: 8px;
  }
  #footer {
    text-align:center;
  }

}




aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px;
        margin-top: 20px;
        &:first-chile {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edi {
    margin-top: 15px;
}

#Tasks > div > div > nav {
    position: fixed;
}

#menu-toggle:hover {
    color: white;
}
/* forms */

#error_explanation {
    color: #2F2E41;
    ul {
        color: #2F2E41;
        margin: 0 0 30px 0;
    }
}

.field_with_error {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#popup {
    height: 50px;
    width: 300px;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    position: absolute;
}
/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

.glyphicon.glyphicon-chart {
    font-size: 75px;
}

.headimg
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.input-group-addon {
    margin-top: -35px;
    font-size: 1.4em !important;
    padding: -35px 0px 0px 0px !important;
    vertical-align: baseline;
    height: 35px !important;
    width: 200px !important;
    text-align: center;
    float: right !important;
    display: inline !important;
}


  #special {
    max-width: 900px;
  }

  #special-addon {
    margin-top: -50px;
  }

.logo-small {
    color: #41B3A3;
    font-size: 50px;
}

.btn-default:hover {
  border: solid 1px #2F2E41 !important;
}

.btn-primary {
  border: solid 3px #2F2E41 !important;
  background-color: #2F2E41 !important;
}

  /*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS
  .landicon {
    font-size: 50px;
    }
  .landingfour {
    margin-left: 150px;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1480px)  {
  .landingfour {
    margin-left: 230px;
  }
}

@media (min-width: 1200px) and (max-width: 1480px) {

  //CSS
  .landingfour {
    margin-left: 170px;
  }
  .landicon {
    font-size: 35px;
  }
  .landtext {
    font-size: 15px;
  }

}

@media (min-width: 1024px) and (max-width: 1200px) {

  //CSS
  .landingtwo {
    margin-left: 150px;
  }
  .landicon {
    font-size: 45px;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS
  .landicon {
    font-size: 50px;
    }
  .landingtwo {
    margin-left:100px;
  }
  .space {
    margin: 50px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS
  .landicon {
    font-size: 65px;
    }
  .landingtwo {
    margin-left:100px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS
  .landicon {
    font-size: 65px;
  }
}

@media (min-width: 969px) {
  #sm-ham {
    display: none;
  }
}

@media (max-width: 768px) {
  #sm-none-cta {
    display: none;
  }
}

@media (max-width: 969px) {
  .navbar-header {
      float: none;
  }

  .collapse.in{
      display:block !important;
  }

  #md-ham {
      display: none;
  }

  #sm-ham {
    text-align:center;
  }
}

@media (max-width: 989px) {
  .forms {
    height: 900px;
    margin: 0px -20px 0px -20px
  }
}

@media (min-width: 990px) {
  .forms {
      background: url(/assets/hero.svg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
}

@media (min-width: 691px) {

  #News {
    background: url(/assets/hero.svg) no-repeat center center;
    background-position: right 30% bottom 45%;
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    -o-background-size: 25%;
    background-size: 30%;
    text-align: left;
  }
}

@media (max-width: 690px) {
  #News {
    background: url(/assets/hero.svg) no-repeat center center;
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    -o-background-size: 25%;
    background-size: 60%;
    text-align: left;
  }

  #signup {
    margin-top:200px;
  }
  .sm-none {
    display: none;
    visibility: hidden;
  }
}
